@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 50px);
  background: #ffffff;
  /* background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("https://wallpaperaccess.com/full/952192.jpg"); */
  /* background-size: cover; */
}

.login-card {
  height: fit-content;
  width: 500px;
  background-color: #f3f3f3;
  padding: 18px;
  border-radius: 6px;
  box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.2);
}

.loginTitle {
  font-size: 50px;
  font-family: "poppins";
  margin: 0;
  text-align: center;
  font-weight: 600;
}

.loginForm {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.loginForm > label {
  margin: 10px 0;
  font-size: 12px;
  font-family: "poppins";
}

.loginInput {
  padding: 10px;
  background-color: white;
  border: none;
  border-radius: 4px;
}
.loginInput::placeholder {
  font-size: 12px;
  font-family: "poppins";
}

.loginButton {
  margin-top: 20px;
  cursor: pointer;
  background-color: lightcoral;
  border: none;
  color: white;
  font-family: "poppins";
  border-radius: 10px;
  padding: 10px;
}

.loginButton:disabled {
  cursor: not-allowed;
  background-color: rgb(252, 173, 173);
}

.loginRegisterButton {
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: teal;
  cursor: pointer;
  border: none;
  padding: 10px;
  color: white;
  border-radius: 10px;
}
